.btn {
	@apply rounded my-3 text-blue-400 relative;
	
	&-primary {
		@apply btn bg-blue-400 border-blue-700 text-white py-2 px-6 ;

			&:hover {
				@apply bg-blue-500;
				// box-shadow: inset 0px -5px 0px -3px rgba(0,121,250,1);
			}

			&:focus {
				@apply outline-none;
				// box-shadow: inset 0px 0px 0px -3px rgba(0,121,250,1);
			}
	}
	
	
	&::after{
		content: "";
		background-color: theme('colors.blue.400');
		width: 0%;
		height: 2px;
		display: block;
		position: absolute;
		right: 0;
		border-radius:10px;
		transition: width .5s;
	}

	&:hover::after {
		width:70%;
	}


	

}
